body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-image: url('../../images/old-barn-wood.jpg');
  background-position: center;
  background-size: cover;
}

.ldrOptBox {
  margin-top: 125px;
  margin-left: 3%;
  padding: 10px 2%;
  /* display: none; */
  position: fixed;
  background-color: orange;
  width: 90%;
}

.inviteBttn {
  margin: 0 25% 20px 25%;
  border: 2px solid white;
  border-radius: 15px;
  color: green;
  font-size: 1.5rem;
  text-align: center;
  background-color: white;
  width: 50%;
}

.inviteBox {
  margin-bottom: 20px;
  padding: 10px 1%;
  color: white;
  background-color: darkgreen;
}

.inviteLink {
  border: 1px solid white;
  padding: 5px 2%;
  overflow-x: scroll;
  white-space: nowrap;
}

.startBox {
  padding: 10px 5%;
  color: white;
  background-color: darkgreen;
}

.followBox {
  margin-top: 125px;
  margin-left: 3%;
  padding: 10px 2%;
  position: fixed;
  background-color: orange;
  width: 90%;
}

.startFollowBox {
  padding: 10px 5%;
  color: white;
  background-color: darkgreen;
}

.startBttn {
  margin-bottom: 10px;
  text-align: center;
  text-decoration: underline;
}

.startForm {
  margin-top: 20px;
  text-align: center;
}

.startForm input {
  border: 2px solid white;
  border-radius: 15px;
  font-size: 1.3rem;
  background-color: blue;
  color: white;
}

.endBttn {
  margin-top: 20px;
  color: white;
  text-align: center;
  background-color: red;
}

.endBox {
  display: none;
  color: white;
  background-color: darkred;
}

.playerInfoBttn {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  text-align: center;
}

.playerInfoBox {
  padding: 10px;
  display: none;
  color: white;
  background-color: blue;
}

.playerInfoContent {

}

.playerList {

}

.playerRow {
  display: flex;
  justify-content: space-between;
}

.topRow {
  border-bottom: 1px solid black;
}

.ifStarted {
  display: none;
  background-color: lightgreen;
}

.trailMain {

}

.trailTitle {
  background-color: orange;
}

.trailList {
  margin: 20px 5%;
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  width: 90%;
}

.trailList img {
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 200px;
  height: 300px;
}

.trailList img:hover {
  border: 5px solid orange;
}

.supplyMain {

}

.supplyTitle {

}

.supplyMain {

}

.yourTurnBox {
  display: none;
}

.clickBttn {
  color: white;
  background-color: green;
}
