body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-image: url('../../images/old-barn-wood.jpg');
  background-position: center;
  background-size: cover;
}

.ldrOpt {
  display: none;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.ldrOptBox {
  margin-top: 125px;
  margin-left: 3%;
  padding: 10px 2%;
  display: none;
  position: fixed;
  z-index: 3;
  background-color: orange;
  width: 90%;
}

.inviteBox {
  margin-bottom: 20px;
  color: white;
  background-color: green;
}

.inviteLink {
  overflow-x: scroll;
  white-space: nowrap;
}

.endBttn {
  margin-top: 20px;
}

.endBox {
  display: none;
}

.playerInfoBttn {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  text-align: center;
}

.playerInfoBox {
  padding: 10px;
  display: none;
  color: white;
  background-color: blue;
}

.playerInfoContent {

}

.ifStarted {
  display: none;
  background-color: lightblue;
}
